body, html {
    font-family: 'Raleway', sans-serif;
    font-size: .9em;
    max-width: 1440px;
	margin: auto;
}

ul li {
    cursor: pointer;
    color: #901C1C;
    border: 1px solid #a7a6a6;
    border-radius: 50px;
    text-align: center;
    padding: .1em .5em;
    margin: .2em;
}
ul li:hover {
    background-color:#901C1C;
    color: white;
}

h1 {
    color: #D3573C;
    font-weight: lighter;
    font-size: 2.1em;
    margin-bottom: .2em;
}



.motto {
    font-size: .9em;
    margin: 0;
}

.location {
    color:#901C1C;
    font-size: 1.1em;
    margin-top: 0;
    margin-bottom: .2em;
}


/* header {
    display: flex;
    align-items: center;
    margin: 1.5em 3em;
}
header img {
    height: 4.5em;
}
nav {
    padding-left: 3em;
} */









div ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.top {
    display: flex;
    justify-content: space-between;
    background-color: #FAFAFA;
}
.top img {
    height: 170px;
    width: 170px;
    object-fit: cover;
    border-radius: 100px;
}

.first_line {
    display: flex;
}
.name {
    width: 21em;
}

.contact_param {
    background-color: #901C1C;
    color: white;
    /* font-weight: lighter; */
    /* font-size: 2.1em; */
    text-align: center;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-bottom: -.1em;
    padding-top: .3em;
    padding-left: .7em;
    padding-right: .7em;;
    border-radius: .5em;
    cursor: pointer;
}
.contact_param:hover {
    background: #D3573C;
  }

.filter {
    display: flex;
}


/* Dropdown Button */
.dropbtn {
    background-color: #901C1C;
    color: white;
    padding: 12px 16px;
    border: none;
    width: 120px;
    border-bottom: 1px solid white;
    border-radius: 5px 5px 0px 0px;
    text-align: left;
  }
i.fa-chevron-up {
    display: none;
}
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #901C1C;
    width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid white;
  }
  .dropdown-content:nth-child(2) {
      border-radius: 0px 0px 5px 5px;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #D3573C;
    color: black;    
}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .fa-chevron-down {
      display: none;
  }
  .dropdown:hover .fa-chevron-up {
    display: inline-block;
}

  /* Change the background color of the dropdown button when the dropdown content is shown */
  /* .dropdown:hover .dropbtn {background-color: #D3573C;} */


  .photos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .photos img {
    height: 250px;
    width: 250px;
    object-fit: cover;
  }
  .photos video {
    height: 250px;
    width: 250px;
    /* object-fit: cover; */
  }

  .info {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2em;
      margin-top: .5em;
  }
  .info > p {
      margin: 0;
  }

  .fixed-box {
    position: fixed;
    bottom: 0;
    right: 300px;
    width: 200px;
    height: 50px;
    background-color: #D3573C;
  }


  .lightbox {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .9);
      z-index: 10;
      overflow: auto;
      transition: opacity .3s;
  }
  .lightbox.fadeOut {
      opacity: 0;
  }

  .lightbox__next > i,
  .lightbox__prev > i {
      /* border: none; */
      color: #901C1C;
      /* background: center center / 100% 100%; */
      width: 16px;
      height: 28px;
      position: fixed;
      right: 0;
      top: 50%;
      margin-top: -14px;
      z-index: 11;
      opacity: .5;
      cursor: pointer;
      transition: opacity .3s;
  }

  .lightbox__next > i:hover,
  .lightbox__prev > i:hover,
  .lightbox__close > i:hover {
      opacity: 1;
  }

  .lightbox__prev > i {
    right: auto;
    left: 0;
    transform: rotate(180deg);
  }

  .lightbox__close > i {
      color: white;
      width: 15px;
      height: 15px;
      position: fixed;
      top: 25px;
      right: 25px;
      opacity: .5;
      transition: opacity .3s;
  }
  .lightbox__container img {
      max-width: 100%;
      height: auto;
  }

  .lightbox__container {
      display: flex;
      /* align-items: center; */
      justify-content: center;
      margin-left: 50px;
      margin-right: 50px;
      min-height: 100vh;
  }



  
  
  /* Modal form */
  
  .button {
    background: #fe142f;
    margin-top: 0.5em;
    padding: 1em;
    color: #fff;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .button:hover {
    background: #3876ac;
  }
  
  .bground {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(26, 39, 156, 0.4);
  }
  
  .content {
    margin: 5% auto;
    width: 100%;
    max-width: 500px;
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
    background: #232323;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    color: #fff;
    padding-top: 10px;
  }
  
  .modal-body {
    padding: 15px 8%;
    margin: 15px auto;
  }
  
  label {
    font-family: var(--font-default);
    font-size: 15px; /* j'ai diminué la taille de la fonte pour faire plus resemblant à la maquette */
    font-weight: normal;
    display: inline-block;
    margin-bottom: 11px;
    margin-top: 0.4em; /* j'ajoute cette propieté pour décoller la phrase de champs d'input au-dessus */
  }
  input {
    padding: 8px;
    border: 0.8px solid #ccc;
    outline: none;
  }

  .close {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 32px;
    height: 32px;
    opacity: 1;
    cursor: pointer;
    transform: scale(0.7);
  }
  .close:before,
  .close:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 33px;
    width: 3px;
    background-color: #fff;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
  .btn-submit,
  .btn-signup,
  .btn-close {
    background: #fe142f;
    display: block;
    margin: 0 auto;
    border-radius: 7px;
    font-size: 1rem;
    padding: 12px 82px;
    color: #fff;
    cursor: pointer;
    border: 0;
  }
